# Ignora archivos de registro
*.log

# Ignora carpetas de Visual Studio
/.vs
/Brute Force IP Blocker/bin
/Brute Force IP Blocker/obj
/Brute Force IP Blocker/Properties
/Brute Force IP Blocker/Brute Force IP Blocker.csproj.user